<title>Auction Brandoutlet.co.id</title>
<link rel="icon" href="media/frontend/images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="lib/css/materialize.min.css">
<link rel="stylesheet" href="lib/css/owl.carousel.min.css">
<link rel="stylesheet" href="lib/css/owl.theme.default.min.css">
<link rel="stylesheet" href="lib/css/jquery.countdown.css">
<link rel="stylesheet" href="lib/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="lib/js/jquery.min.js"></script>
<script type="text/javascript" src="lib/js/materialize.min.js"></script>
<script type="text/javascript" src="lib/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="lib/js/jquery.countdown.min.js"></script>

<script type="text/javascript" src="lib/js/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="lib/js/angular/angular-route.min.js"></script>

<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="lib/js/script.js"></script>
