<div ng-controller="navigationController">
  <nav class="grey darken-4">
    <div class="nav-wrapper container " style="padding:0;">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo"><img src="media/frontend/images/auction_logo_white.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" ng-controller="authController">
        <li ng-if="!checkWasLogin()"><a ng-click="openLoginDialog()" class="waves-effect waves-light btn grey lighten-5 text-black"><i class="material-icons left">account_circle</i>Sign in</a></li>
        <li ng-if="!checkWasLogin()"><a href="/register/" class="waves-effect waves-light btn grey darken-3">Register</a></li>
        <li ng-if="checkWasLogin()"><a href="/myaccount/" class="waves-effect waves-light btn grey lighten-5 text-black"><i class="material-icons left">account_circle</i>My Account</a></li>
        <li ng-if="checkWasLogin()"><a ng-click="logout()" class="waves-effect waves-light btn grey lighten-5 text-black"><i class="material-icons left">vpn_key</i></a></li>
        <!-- <li><a class="waves-effect waves-light btn grey darken-3" style="margin-left:10px;"><i class="material-icons left">shopping_basket</i> Back to Shop</a></li> -->
      </ul>
    </div>
  </nav>
  <div id="modal-login" class="modal small">
    <div class="modal-content" ng-controller="authController">
      <h4 class="center-align">Sign in to Auction</h4>
      <p class="single-p center-align">If you already have an account please fill this form.</p>
      <span class="sptr"></span>
      <p class="error-wrap" ng-if="errorLogin">ERROR : <span ng-bind-html='errorLoginMessage'></span></p>
      <div class="progress" ng-if="loading_login">
         <div class="indeterminate"></div>
      </div>
      <form name="loginForm" ng-submit="login(loginForm.$valid)">
        <div class="cover">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="email" class="validate" required ng-model="loginData.email">
              <label for="icon_prefix">Email Adress</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input id="icon_prefix" type="password" class="validate" required ng-model="loginData.password">
              <label for="icon_prefix">Password</label>
            </div>
          </div>
        </div>
        <p class="single-p center-align">didn't have an account yet? <a href="/register/" ng-click="closeModal('modal-login')">Create new account</a></p>
        <div class="cover right-align footer-btn" style="padding:20px 0;">
          <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">vpn_key</i>Sign In</button>
          <a ng-click="clearState('login')" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- Side Navigation -->
  <ul id="slide-out" class="side-nav" ng-controller="authController">
    <li><a><h4 style="margin:0;padding:15px 0;">MENU</h4></a></li>
    <li ng-if="!checkWasLogin()"><a ng-click="openLoginDialog()" style="border-bottom:1px solid #eee;"><i class="material-icons">account_circle</i>Sign in</a></li>
    <li ng-if="!checkWasLogin()" style="border-bottom:1px solid #eee;"><a href="/register/" class="">Register</a></li>
    <li ng-if="checkWasLogin()" style="border-bottom:1px solid #eee;"><a href="/myaccount/" class=""><i class="material-icons left">account_circle</i>My Account</a></li>
    <li ng-if="checkWasLogin()"><a ng-click="logout()" class=""><i class="material-icons left">vpn_key</i> Logout</a></li>
    <!-- <li><a class="waves-effect waves-light btn grey darken-3" style="margin-left:10px;"><i class="material-icons left">shopping_basket</i> Back to Shop</a></li><!----> -->
  </ul>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('.button-collapse').sideNav({
           menuWidth: 250, // Default is 300
           edge: 'left', // Choose the horizontal origin
           closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
           draggable: true // Choose whether you can drag to open on touch screens
         }
       );
    });
  </script>

</div>
