<div class="container" ng-controller="listAuctionController">
	<div class="cover">
	  <h4 class="left">All Auctions</h4>
    <div class="input-field right">
		<!-- Search Binding the auctionItems  -->
     <select class="browser-default"
		  ng-model="search"
		 	ng-options="aItem as aItem.status for aItem in auctionItems">
       <option value="" >All Auction Status</option>
     </select>
   </div>
	</div>
	<div class="row">
		<div class="col s4" ng-repeat="aItem in auctionItems | filter: { status: search.status }: true ">
			 <div class="card catalog-card {{ aItem.status }}">
	            <div class="card-image">
								<div class="card-status {{ aItem.status }}">
									{{ aItem.status }} <span class="status-{{ aItem.status }}"></span>
								</div>
	              <img src="media/catalog/{{ aItem.auction_thumbnail }}">
	              <span class="card-title"><b>{{ aItem.auction_name }}</b></span>
	            </div>
	            <div class="card-content" align="center">
								<p ng-if="aItem.status == 'live'">Current Bid : <b class="badge red current-bid">{{ aItem.auction_current_bidding | currency:"IDR ":0  }}</b></p>
								<p ng-if="aItem.status == 'closed'">Sold at : <b class="badge red current-bid">{{ aItem.auction_current_bidding | currency:"IDR ":0  }}</b></p>
	             <p ng-if="aItem.status == 'cooming'">Start Bid : <b class="badge current-bid text-black">{{ aItem.auction_start_bidding | currency:"IDR ":0  }}</b></p>
							 <p class="small-desc">{{ aItem.auction_short_description }}</p>
	            </div>
	            <div class="card-action" align="center" style="padding:15px 0;">
	              <a href="#!/auction/{{  aItem.auction_unique_key }}" class="btn" >View Detail!</a>
	            </div>
	          </div>
		</div>
	</div>
  <br>
  <ul class="pagination center-align">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
