<div class="container">
	<h4>Current Live Auctions</h4>
	<hr>
	<div class="row">
		<div class="col s4">
			 <div class="card catalog-card live">
	            <div class="card-image">
								<div class="card-status light-green accent-3">
									Live <span class="status-live"></span>
								</div>
	              <img src="{{ getMediaUrl() }}catalog/nmd.jpg">
	              <span class="card-title"><b>Adidas Yeezy Boost 350 V2</b></span>
	            </div>
	            <div class="card-content" align="center">
	             <p>Current Bid : <b class="badge red current-bid">IDR 900.000</b></p>
							 <p class="small-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
	            </div>
	            <div class="card-action" align="center" style="padding:15px 0;">
	              <a href="#" class="btn">BID NOW!</a>
	            </div>
	          </div>
		</div>
		<div class="col s4">
			 <div class="card catalog-card coming">
	            <div class="card-image">
								<div class="card-status grey">
									Cooming Soon <span class="status-cooming"></span>
								</div>
	              <img src="{{ getMediaUrl() }}catalog/nmd.jpg">
	              <span class="card-title"><b>Adidas Yeezy Boost 350 V2</b></span>
	            </div>
	            <div class="card-content" align="center">
	             <p>Current Bid : <b class="badge red current-bid">IDR 900.000</b></p>
							 <p class="small-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
	            </div>
	            <div class="card-action" align="center" style="padding:15px 0;">
	              <a href="#" class="btn">BID NOW!</a>
	            </div>
	          </div>
		</div>
		<div class="col s4">
			 <div class="card catalog-card closed">
	            <div class="card-image">
								<div class="card-status red darken-4">
									Closed <span class="status-closed"></span>
								</div>
	              <img src="{{ getMediaUrl() }}catalog/nmd.jpg">
	              <span class="card-title"><b>Adidas Yeezy Boost 350 V2</b></span>
	            </div>
	            <div class="card-content" align="center">
	             <p>Current Bid : <b class="badge red current-bid">IDR 900.000</b></p>
							 <p class="small-desc">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
	            </div>
	            <div class="card-action" align="center" style="padding:15px 0;">
	              <a href="#" class="btn">BID NOW!</a>
	            </div>
	          </div>
		</div>
	</div>
	<hr>
	<a href="#!/auction-list/" class="waves-effect waves-light btn-large  blue-grey darken-4"><i class="material-icons right">label</i>See More Auction</a>
</div>
