<div class="container" ng-controller="listAuctionController">
	<div class="cover">
	  <h4 class="left">All Auctions</h4>
    <!-- <div class="input-field right"> -->
		<!-- Search Binding the auctionItems  -->
     <!-- <select class="browser-default"
		  ng-model="search"
		 	ng-options="aItem as aItem.status for aItem in auctionItems">
       <option value="" >All Auction Status</option>
     </select>
   </div> -->
	 <div class="input-field right">
		<select class="material-select browser-default">
			<option value="" disabled>Choose your option</option>
			<option value="" ng-selected="sortBy == ''">All</option>
			<option value="live" ng-selected="sortBy == 'live'">Live</option>
			<option value="cooming" ng-selected="sortBy == 'cooming'">Cooming Soon</option>
			<option value="closed" ng-selected="sortBy == 'closed'">Closed</option>
		</select>
		<!-- <label>Filter Auction</label> -->
	</div>
	<script type="text/javascript">
	 $(document).ready(function() {
		//  $('.material-select').material_select();
		 $('.material-select').change(function(event) {
			 var selectValue = $('.material-select option:selected').val();
			 window.location.href='/auction-list/' + selectValue;
		 });
	 });
	</script>
	</div>
	<div class="cover">
		<div class="progress" ng-show="loading_list">
			 <div class="indeterminate"></div>
		</div>
		<p align="center" class="no-item cover" ng-show="!loading_list" ng-if="auctionItems.length < 1">No Auction list to show</p>
		<div class="row">
			<div class="col s12 l4" ng-repeat="aItem in auctionItems">
				 <div class="card catalog-card {{ aItem.status }}">
		            <div class="card-image">
									<div class="card-status {{ aItem.status }}">
										{{ aItem.status }} <span class="status-{{ aItem.status }}"></span>
									</div>
		              <img src="backendFrame/public/images/{{ aItem.images }}">
		              <span class="card-title"><b>{{ aItem.auction_name }}</b></span>
		            </div>
		            <div class="card-content" align="center">
									<p ng-if="aItem.status == 'live'">Current Bid : <b class="badge red current-bid">{{ aItem.auction_current_bidding | currency:"IDR ":0  }}</b></p>
									<p ng-if="aItem.status == 'closed'">Sold at : <b class="badge red current-bid">{{ aItem.auction_current_bidding | currency:"IDR ":0  }}</b></p>
		              <p ng-if="aItem.status == 'cooming'">Start Bid : <b class="badge current-bid text-black">{{ aItem.auction_start_bidding | currency:"IDR ":0  }}</b></p>
								  <p class="small-desc">{{ aItem.auction_short_description }}</p>
		            </div>
		            <div class="card-action" align="center" style="padding:15px 0;">
		              <a href="/auction/{{  aItem.auction_unique_key }}" class="btn" >View Detail!</a>
		            </div>
		          </div>
			</div>
		</div>
	</div>
  <br>
  <ul class="pagination center-align" ng-if="totalPage.length > 1">
    <li ng-class="{'disabled': dataPage.prev_page_url == null}" class="waves-effect"><a><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect" ng-repeat="p in totalPage"><a href="{{p.link}}">{{p.page}}</a></li>
    <li ng-class="{'disabled': dataPage.prev_page_url == null}" class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
