.login-wrapper {
  height: 100%;
  width: 100%;
}

.sptr {
  width: 100%;
  float: left;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  height: 1px;
  margin: 15px 0;
}

.login-container {
  width: 40%;
  margin: 0 auto;
}

.text-black {
  color: #2d2d2d !important;
}
.item-image img{
  width: 100%;
}
.text-white {
  color: #fff !important;
}
nav {
  padding-left: 30px;
}
.cover {
  width: 100%;
  float: left;
  position: relative;
}

.main-wrap {
width: 100%;
padding-left: 300px;
position: relative;
float: left;
}

.content-container {
  padding: 30px 20px;
}
#refresh, #clear-dropzone {
  display: none;
  float: left;
  margin-right: 15px; }
.items-grid {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px !important;
}

.gallery img {
  width: 24%;
  padding: 10px;
}
.tabs-img li {
  display: inline-block;
}
.tabs-img li a.active {
  background: #eee;
}

.tabs-img {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.gallery-wrap a {
  cursor: pointer;
}

.hasInserted {
  opacity: .5;
  pointer-events: none;
}

.gallery-item {
  margin-bottom: 5px;
  padding: 5px !important;
  height: 145px;
  position: relative;
  overflow: hidden;
}

.gallery-item .deleteGallery {
  position: absolute;
  top:8px;
}
.item-image {
  height: 150px;
  overflow: hidden;
  position: relative;
}
.img-data {
  position: relative;
}
.img-data a {
  display: block;
}
.deleteImg {
  position: absolute;
  z-index: 99;
  top: 3px;
  left: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color:#FFF;
  padding: 3px;
  border-radius: 3px;
}
.deleteImg i {
  font-size: 16px;
}

.alert-massage {
  width: 100%;
  float: left;
  position: relative;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}

.alert-massage.success {
  background: #E8F5E9 !important;
  color: #4CAF50 !important;
}

.alert-massage.error {
  background: #FFEBEE !important;
  color: #F44336 !important;
}
