
<div class="container auction-detail">
  <div class="title-auction">
    <span class="logo-brand"><img src="{{ getMediaUrl() }}catalog/logo-brand/{{ auctionData.auction_logo }}" alt=""></span>
    <h4 class="">{{ auctionData.auction_name }}</h4>
  </div>
  <div class="row">
    <div class="col s12 l5">
      <div class="media-auction cover">
        <div class="media-auction-preview">
          <img class="lazy" data-original="{{ getMediaUrl() }}catalog/{{ auctionData.image }}"alt="">
        </div>
        <div class="media-auction-list cover">
           <div class="owl-carousel" id="image_gallery">
              <div class="item" ng-repeat="item in image_gallery"><img style="width:100%;" onClick="clickImg(this)" class="media-list-img" src="{{ getMediaUrl() }}catalog/{{ item.image}}" alt=""></div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
      function loadCarousel() {
        jQuery("img.lazy").lazyload({
  				effect : "fadeIn"
  			});
        jQuery('#image_gallery').owlCarousel({
          items:4,
          margin:10,
          responsive:{
              600:{
                  items:4
              }
          }
        });
      }

      </script>
      <div class="log-dominated" ng-controller="authController" ng-if="auctionData.status == 'live'">
        <div class="progress" ng-show="load_dominated">
           <div class="indeterminate"></div>
        </div>
        <div ng-show="!load_dominated">
          <div class="chip red lighten-1 text-white" ng-if="!dominated || !checkWasLogin()">
             <i class=" left material-icons">error_outline</i>
            <b>Someone</b> just dominated this auction, <u>lets make your bid!</u>
          </div>
          <div class="chip light-green accent-2" ng-if="dominated && checkWasLogin()">
            <i class=" left material-icons">done</i>
            <b>Lets Enjoy!</b> You just dominated this auction
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l7">
      <div class="detail-auction-wrapper cover">
        <div class="chip {{ auctionData.status}}"  style="padding-right:15px;">
          <b ng-if=" auctionData.status == 'cooming'">This Auction Will Be Start on :</b>
          <b ng-if=" auctionData.status == 'live'">Auction is Live <span class="status-live"></span></b>
          <b ng-if=" auctionData.status == 'closed'">This Auction Has Been Ended !</b>
        </div>
          <div class="auction-countdown cover">
            <div id="product-coundown" class="countdown-wrapper" data-time="{{ auctionData.auction_end_date }}"></div>
          </div>
          <div class="auction-desc cover" ng-bind-html="auctionData.auction_description">
            <div class="load-more-desc"></div>
          </div>
          <div class="cover trigger-load-desc"><span>...</span></div>
          <script type="text/javascript">
            $('.trigger-load-desc').click(function(event) {
              $('.auction-desc').addClass('opened');
              $('.load-more-desc, .trigger-load-desc').css('display', 'none');
            });
          </script>
          <div class="auction-current-bid cover">
            <p class="single-p" ng-if="auctionData.status == 'live' ">Current Bid : <b>{{ auctionData.auction_current_bidding  | currency:"IDR ":0  }}</b></p>
            <p class="single-p" ng-if="auctionData.status == 'closed' ">Final Bid : <b>{{ auctionData.auction_current_bidding  | currency:"IDR ":0  }}</b></p>
            <p class="single-p" ng-if="auctionData.status == 'cooming' ">Start Bid From : <b>{{ auctionData.auction_start_bidding  | currency:"IDR ":0  }}</b></p>
          </div>
          <span class="sptr"></span>
          <div ng-if="auctionData.status == 'live'" class="form-bid cover">
            <form name="bidForm" ng-submit="submitBidTrigger(bidForm.$valid)">
            <div class="row">
              <div class="input-field col l6 s12">
                <input id="bid_val" type="text" class="validate" required="" ng-model="formBidData.bid_value" value="formBidData.bid_value|currency">
                <script type="text/javascript">
                  jQuery(document).ready(function($) {
                    // $("#bid_val").maskMoney({prefix:'IDR ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
                  });
                </script>
                <label class="active" for="bid_val">Let's deal Your bid</label>
              </div>
              <div class="input-field col l6 s12">
                <button class="waves-effect waves-light btn-large" style="width:100%;" ><i class="material-icons left">pan_tool</i>Submit Your Bid!</button>
              </div>
              <div class="col l12">
                <div class="progress" ng-if="load_submitbid">
                   <div class="indeterminate"></div>
               </div>
              </div>
            </div>
            <div class="agreement-wrap" ng-show="!wasBid">
            <p>
              <input type="checkbox" class="filled-in validate" id='agreement-check' ng-model="formBidData.agreement_check" />
              <label for="agreement-check" id="trigger-agreement" class="validate">Before you submit bid, you must agree this term & condition</label>
              <script type="text/javascript">
                function clickImg(indetifity) {
                  var src = $(indetifity).attr('src');
                  $('.media-auction-preview img').attr('src', src);
                }
                jQuery(document).ready(function($) {
                  $('#modal-agreement').modal();
                  $('#modal-success').modal({
                    endingTop: '30%',
                  });
                  $("#trigger-agreement").click(function(event) {
                    if (!$('#agreement-check').is(':checked')) {
                       $('#modal-agreement').modal('open');
                     }
                  });
                  $('#cancel-agreement').click(function(event) {
                    $('#agreement-check').prop('checked', false);
                  });
                });
              </script>
            </p>
            <div id="modal-agreement" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>Term & Condition</h4>
                <p><b>Lorem ipsum dolor sit amet, consectetur</b> adipiscing elit. Si longus, levis dictata sunt. Quod quidem iam fit etiam in Academia. Portenta haec esse dicit, neque ea ratione ullo modo posse vivi; Sint ista Graecorum; Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Si quicquam extra virtutem habeatur in bonis. Tu autem, si tibi illa probabantur, cur non propriis verbis ea tenebas? Duo Reges: constructio interrete. Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Sed quanta sit alias, nunc tantum possitne esse tanta. Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere? Sed fac ista esse non inportuna;</p>
                <p>Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, <b>ingeniosi vocantur. Indicant pueri</b>, in quibus ut in speculis natura cernitur. Illa videamus, quae a te de amicitia dicta sunt. Quae cum essent dicta, discessimus.</p>
                <p>Quid ad utilitatem tantae pecuniae? Sed mehercule pergrata mihi oratio tua. Quod ea non occurrentia fingunt, vincunt Aristonem; </p>
              </div>
              <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-green btn-flat" id="cancel-agreement" ng-click="cancelAgreement()">Cancel</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
              </div>
            </div>
          </div>
            <p class="note-p"><i>*max bid at once biding is : <b style="color:red;"> {{ auctionData.auction_max_bid | currency:"IDR ":0 }}</b> from the current bid</i></p>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-success" class="modal small">
  <div class="modal-content">
    <h4 align="center"><i class="material-icons">done</i> Succsess Bid!</h4>
    <span class="sptr"></span>
    <p>Thank you for your participation on auction Brandoutlet. you has just success submit bid : <b>{{ auctionData.auction_current_bidding  | currency:"IDR ":0  }}</b> on <b>{{ auctionData.auction_name }}</b></p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="successBid()">OK, Got it!</a>
  </div>
</div>
